@font-face {
    font-family: 'latolight';
    src: url('/fonts/lato/lato-light-webfont.eot');
    src: url('/fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-light-webfont.woff') format('woff'),
         url('/fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('/fonts/lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'codepro';
    src: url('/fonts/codepro/Code_Pro_Demo-webfont.eot');
    src: url('/fonts/codepro/Code_Pro_Demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/codepro/Code_Pro_Demo-webfont.woff2') format('woff2'),
         url('/fonts/codepro/Code_Pro_Demo-webfont.woff') format('woff'),
         url('/fonts/codepro/Code_Pro_Demo-webfont.ttf') format('truetype'),
         url('/fonts/codepro/Code_Pro_Demo-webfont.svg#codepro') format('svg');
    font-weight: normal;
    font-style: normal;
}
