skyblue = #63CFDC
lightblue = #BFD0F0
lightnightblue = #7892C1
nightblue = #586A8A
darknightblue = #566276
lightmandarine = #FFCFAF
mandarine = #FFAA72
bloodred = #CF3D33
gentlered = #F24736
gentleblue = #667FB3
soulgreen = #ABE681
sunorange = #FFC413
darksunorange = #5A4F2E
