
.instructions
  padding 2rem
  colors(#444, #fff)
  font-family 'latolight', sans-serif
  font-size 1.6rem
  div
    margin-bottom 2rem
  h3,h4, 
    margin-bottom .2rem
  p
    margin-bottom .4rem
  ul
    margin-left 2.5rem
